body {
 background-color:#232946 ; 
}

.container {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 500px;
  width: 100%;
  margin: auto;

}
.container > form {
  width: 70%;
 
  padding: 20px;
  border-radius: 5px;
  background:#232946;
  font-size: 18px;
}
pre {
  width: 70%;
  color: #fff;
  font-size: larger;
}

button {
  background:#eebbc3 ;
  font-size: 25px;
}
p {
  color:#f5f3f3;
}
h1{
  color:#fffffe;
  
}
.fluid ui button blue{
  color:#232946;
}
input{
  background-color: #ffffff ;
  font-size: 16px;
  color: var(--secondary);
  padding: 5px;
  
}
label{
  color:#b8c1ec;
  font-size: 20px;
  font-family: monospace;
}
.ui_message_success{
  color:#b8c1ec;
  font-size: 20px;
  
}
@media (min-width: 1012px){
  .container{
      font-size: 25px;
      display: flex ;
  flex-direction: column;
  margin-left: 40px;
   }
   input{
    font-size: 20px;
    padding: 6px;
   }
   label{
    font-size: 30px;
   }
   .ui_message_success{
 
    font-size: 40px;
    color: #e6d5d5;
    padding: 10px;
  }
 
  .main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 100px;
    align-items: center;
    
  }
  button {
    background:#eebbc3 ;
    font-size: 35px;
  }
  
}

