body {
 background-color:#232946 ; 
}

.container {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 500px;
  width: 100%;
  margin: auto;

}
.container > form {
  width: 70%;
 
  padding: 20px;
  border-radius: 5px;
  background:#232946;
}
pre {
  width: 70%;
  color: #fff;
  font-size: larger;
}

button {
  background:#eebbc3 ;
  font-size: 18px;
}
p {
  color:#232946;
}
h1{
  color:#fffffe;
  
}
.fluid ui button blue{
  color:#232946;
}
input{
  background-color: #232946 ;
  font-size: 20px;
  color: #b8c1ec;
  
}
label{
  color:#b8c1ec;
  font-size: 30px;
}
.ui_message_success{
  color:#b8c1ec;
  font-size: 20px;
  
}
